@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Bacasime Antique', serif;
    box-sizing: border-box;
}


body{
    font-family: 'Bacasime Antique', serif;
    font-size: 20px;
    line-height: 1.5;
    background: #c3c1c1;
    margin: 0;
    padding: 0;
    
    
}

.container {
    padding: 0 60px;
   
}

/* page-intro-css */
.page-intro {
    width: 100%;
    height: 1000px;
    background: rgb(155, 200, 209);
    background: linear-gradient(90deg, rgba(155, 200, 209, 0.9917355371900827) 38%, rgba(177, 0, 255, 1) 100%);
    padding-top: 170px;
    
}

/* main-intro */
.main-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* page-intro-right-css */
.page-intro-right {
    text-align: center;
    background: transparent;
    width: 50%;
    height: 300px;
}

.page-intro-right p{
    font-size: 25px;
    font-weight: 600;
    color: #2b2c2c;
}

#origin-text {
    background: aquamarine;
    border-radius: 18px;
}



/* test-area-css */
#test-area{
    width: 600px;
    height: 150px;
    outline: none;
    border: 6px solid ;
    box-shadow: 0px 0px 5px 5px #424444;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    background: #ffffff70;
    color: #2b2c2c;
}



/* page-intro-left-css */
.page-intro-left {
    background: transparent;
    text-align: center;
    width: 50%;
    height: 300px;
    color: #2b2c2c;
}



/* p-css */
.art{
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600;
    color: #2b2c2c;
}


/* timer counter */
.timer{
    font-size: 90px;
    font-weight: 900;
    color: #2b2c2c;
}


/* reset button-css */
#reset{
    outline: none;
    border: 2px solid ;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 20px;
    color: #2b2c2c;
    background: transparent;
}

#reset:hover{
    border:2px solid #fff;
    color: #fff;
    transition: .3s;
    box-shadow: 0px 0px 7px 7px #90b9c4;
}





/* media query */
@media (max-width:1024px){
    p.art {
        font-size: 20px;
    }
    
    .origin-text p {
        font-size: 20px;
    }
    
    textarea#test-area {
        width: 400px;
    }
    
}






@media (max-width:768px){
    textarea#test-area {
        width: 290px;
    }
    
    .page-intro-right {
        margin-left: 0px;
    }

    .main-intro {
        display: flex;
        flex-direction: column;
    }
    
    .page-intro {
        padding-top: 10px;
    }
    
    .page-intro-left {
        margin-left: 17px;
        width: 100%;
        height: 207px;
    }
    
    .page-intro-right {
        margin-top: 21px;
        width: 100%;
    }
    
    .page-intro-right p {
        margin-left: 10px;
        
    }
    
    .test-wrapper {
        margin-left: 0px;
    }
}






@media (max-width:425px){
    .page-intro {
        overflow-x: hidden;
    }
    
    .page-intro-left {
        width: 100%;
        height: 340px !important;
    }
    
    .page-intro-right {
        width: 100%;
        margin-top: 127px !important;
    }
    
}



@media (max-width:375px){
    .page-intro-left {
        width: 100%;
        height: 431px !important;
    }
    
    
    .timer {font-size: 60px !important;}
    
    #test-area {
        font-size: 12px;
    }
    
    textarea#test-area {
        width: 250px;
    }

}



@media (max-width:320px){
    .page-intro-left {
        width: 100%;
        height: 390px !important;
    }
}
